/* Body */
body {
    color: #89cff0;
    background-color: #917974;
}

header {
    display: flex;
    align-items: center;
}

#headerIcon {
    width: 2.5rem;
    padding-right: 5px;
    height: auto;
}


/* ====================
Index.ejs
==================== */
.bookTitle {
    font-weight: bold;
}

.authorName {
    font-style: italic;
}

.finishedBooks {
    color: #89f090;
}
.finishedBookList {
    color: #89f090;
}

.fieldDescription {
    font-size: smaller;
    font-variant: small-caps;
    color: gray;
    padding-left: 1rem;
}


/* Layout */
#bookLists {
    display: flex;
    flex-direction: row;
}

.formContainer {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.bookRadioOptions {
    display: inline-flex;
    align-items: center;
}


/* Icons */
.fa-trash {
    padding-left: 10px;
}

.unbutton {
    padding: 0;
    border: none;
    background: none;
}
